---

---

<section>
  <h2 class="text-2xl">私について</h2>
  <div class="flex flex-wrap gap-2 mt-2">
    <a
      href="/profile#test"
      class="border border-black dark:border-white hover:bg-black hover:text-white inline-block p-1"
      >経歴とこれまで</a
    >
    <a
      href="/profile#test"
      class="border border-black dark:border-white hover:bg-black hover:text-white inline-block p-1"
      >できること</a
    >
    <a
      href="/profile#test"
      class="border border-black dark:border-white hover:bg-black hover:text-white inline-block p-1"
      >どんな会社/人/チームの中で働きたいか</a
    >
    <a
      href="/profile#test"
      class="border border-black dark:border-white hover:bg-black hover:text-white inline-block p-1"
      >これからやりたいこと</a
    >
    <a
      href="/profile#test"
      class="border border-black dark:border-white hover:bg-black hover:text-white inline-block p-1"
      >長所・短所</a
    >
    <a
      href="/profile#test"
      class="border border-black dark:border-white hover:bg-black hover:text-white inline-block p-1"
      >家族構成</a
    >
    <a
      href="/profile#test"
      class="border border-black dark:border-white hover:bg-black hover:text-white inline-block p-1"
      >趣味</a
    >
  </div>
</section>
