---
import type { ArticleType } from "../../lib/types";
import { fetchArticles } from "../../lib/fetchArticles.ts";
import ArticleSnippet from "../ArticleSnippet.astro";

const username = "marl0401";
const articles = await fetchArticles(username);
---

<section>
  <h2>Qiita記事</h2>
  <ul>
    {
      articles.map((article: ArticleType) => (
        <li>
          <ArticleSnippet
            title={article.title}
            description={article.description}
            url={article.url}
            timestamp={article.created_at}
          />
        </li>
      ))
    }
  </ul>
</section>
